p {
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.uppercase {
    text-transform: uppercase;
}
.green {
    color: gold;
}
.cursive{
    font-family: cursive;
}
.capitalize{
    text-transform: capitalize;
}

  h1 {
    color: red;
    background-color: blue;
    opacity: .75;
    }

  
  .headline {
    color: firebrick;
  }
 h2.destination{
    font-family: cursive;
  }
  h5,.menu {
    font-family: 'Georgia';
  }
  .main-banner {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/soccer.jpeg");
  }